body {
	font-family: Arial, sans-serif;
	background: url('Fon_2.jpg') center center/cover no-repeat;
	margin: 0;
	padding: 0;
	height: 750px;
	margin-top: 100px;
}

.container {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 30px;
	border-radius: 10px;
	margin: 0px auto;
	max-width: 400px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.password-container {
	display: flex;
	align-items: center;
}

.password-container input[type='password'] {
	flex: 1;
}

.password-container button {
	padding: 10px;
	background-color: #1657d1;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.password-container button#show-password,
.password-container button#show-confirm-password {
	margin-left: 10px;
}

.captcha-container {
	display: flex;
	align-items: center;
}

.captcha-container input[type='text'] {
	flex: 1;
}

.captcha-container img {
	max-width: 100px;
	margin-left: 10px;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button#clear-button {
	background-color: #f00;
	margin-right: 10px;
}

.error-message {
	color: #f00;
	text-align: center;
	margin-top: 10px;
}
